defaultPodOptions:
  enableServiceLinks: true

controllers:
  main:
    type: statefulset
    replicas: 1
    statefulset:
      persistentVolumeClaimRetentionPolicy:
        whenDeleted: Retain
        whenScaled: Retain
      volumeClaimTemplates:
      - name: config
        globalMounts:
          - path: /var/lib/xo-server
        accessMode: ReadWriteOnce
        storageClass: truenas-nfs-nas
        size: 2Gi
      - name: backups
        globalMounts:
          - path: /mnt/backups
        accessMode: ReadWriteMany
        storageClass: truenas-nfs-nas
        size: 200Gi
      - name: redis
        globalMounts:
          - path: /var/lib/redis
        accessMode: ReadWriteOnce
        storageClass: truenas-nfs-nas
        size: 1Gi
    containers:
      main:
        nameOverride: xen-orchestra
        image:
          repository: ronivay/xen-orchestra
          tag: 5.195.0
        resources:
          requests:
            cpu: 40m
            memory: 200Mi
          limits:
            cpu: 6000m
            memory: 3500Mi
        probes:
          liveness:
            enabled: true
            custom: true
            type: HTTP
            spec:
              httpGet:
                path: /
                port: 80
                scheme: HTTP
              initialDelaySeconds: 60
              periodSeconds: 5
          readiness:
            enabled: true
            custom: false
            type: TCP

ingress:
  main:
    enabled: true
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production-dns01
      external-dns.alpha.kubernetes.io/hostname: test.com.
      kubernetes.io/ingress.class: nginx
      hajimari.io/enable: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"             # unlimited (or set "5g", etc.)
      nginx.ingress.kubernetes.io/proxy-request-buffering: "off"   # stream body instead of buffering
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "120"
    hosts:
      - host: test.com
        paths:
        - path: /
          pathType: Prefix
    tls:
      - hosts:
        - test.com
        secretName: tls-xoa

service:
  main:
    ports:
      http:
        port: 80