# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    type: deployment
    replicas: 1
    strategy: Recreate
    pod:
      automountServiceAccountToken: true
      enableServiceLinks: false
      hostIPC: false
      hostNetwork: false
      hostPID: false
      shareProcessNamespace: false
      securityContext:
        runAsUser: 508
        runAsGroup: 508
        runAsNonRoot: true
        fsGroup: 508
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault

    containers:
      main:
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        image:
          repository: mbentley/omada-controller
          tag: 6.0
          pullPolicy: IfNotPresent

        env:
          ROOTLESS: "true"

          MANAGE_HTTP_PORT: "8088"
          MANAGE_HTTPS_PORT: "8043"

          PORTAL_HTTP_PORT: "8888"
          PORTAL_HTTPS_PORT: "8843"

          PORT_APP_DISCOVERY: "27001"
          PORT_ADOPT_V1: "29812"
          PORT_UPGRADE_V1: "29813"
          PORT_MANAGER_V1: "29811"
          PORT_MANAGER_V2: "29814"

          PORT_DISCOVERY: "29810"
          PORT_TRANSFER_V2: "29815"
          PORT_RTTY: "29816"
          PORT_DEVICE_MONITOR: "29817"

          SHOW_SERVER_LOGS: "true"
          SHOW_MONGODB_LOGS: "false"

          SSL_CERT_NAME: "tls.crt"
          SSL_KEY_NAME: "tls.key"

          TZ: "Etc/UTC"
          SKIP_USERMOD: "true"

        ports:
          - name: manage-http
            containerPort: 8088
          - name: manage-https
            containerPort: 8043

          - name: portal-http
            containerPort: 8888
          - name: portal-https
            containerPort: 8843

          - name: app-discovery
            containerPort: 27001
            protocol: UDP

          - name: discover
            containerPort: 29810
            protocol: UDP

          - name: adopt-v1
            containerPort: 29812
          - name: upgrade-v1
            containerPort: 29813
          - name: manager-v1
            containerPort: 29811
          - name: manager-v2
            containerPort: 29814
          - name: transfer-v2
            containerPort: 29815
          - name: rtty
            containerPort: 29816
          - name: device-monitor
            containerPort: 29817

persistence:
  omada-data:
    enabled: true
    type: persistentVolumeClaim
    size: 5Gi
    storageClass: microk8s-hostpath
    accessMode: ReadWriteOnce
    advancedMounts:
      main:
        main:
          - path: /opt/tplink/EAPController/data

  omada-logs:
    enabled: true
    type: persistentVolumeClaim
    size: 2Gi
    storageClass: microk8s-hostpath
    accessMode: ReadWriteOnce
    advancedMounts:
      main:
        main:
          - path: /opt/tplink/EAPController/logs

  certificates:
    enabled: true
    type: secret
    name: omada-tls
    advancedMounts:
      main:
        main:
          - path: /cert

service:
  main:
    enabled: true
    type: LoadBalancer
    annotations:
      external-dns.alpha.kubernetes.io/hostname: omada.example.com.
    ports:
      manage-http:
        port: 8088
        targetPort: manage-http

      manage-https:
        port: 8043
        targetPort: manage-https

      portal-http:
        port: 8888
        targetPort: portal-http

      portal-https:
        port: 8843
        targetPort: portal-https

      app-discovery:
        port: 27001
        targetPort: app-discovery
        protocol: UDP

      discover:
        port: 29810
        targetPort: discover
        protocol: UDP

      adopt-v1:
        port: 29812
        targetPort: adopt-v1

      upgrade-v1:
        port: 29813
        targetPort: upgrade-v1

      manager-v1:
        port: 29811
        targetPort: manager-v1

      manager-v2:
        port: 29814
        targetPort: manager-v2

      transfer-v2:
        port: 29815
        targetPort: transfer-v2

      rtty:
        port: 29816
        targetPort: rtty


      device-monitor:
        port: 29817
        targetPort: device-monitor

rawResources:
  omada-tls-certificate:
    apiVersion: cert-manager.io/v1
    kind: Certificate
    spec:
      metadata:
        name: omada-tls
      spec:
        dnsNames:
          - omada.example.com
        issuerRef:
          group: cert-manager.io
          kind: ClusterIssuer
          name: letsencrypt-production-dns01
        secretName: omada-tls
        usages:
          - digital signature
          - key encipherment